page-class-list {
    
    .item-inner {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -webkit-flex-direction: inherit;
        -ms-flex-direction: inherit;
        flex-direction: inherit;
        -webkit-align-items: inherit;
        -ms-flex-align: inherit;
        align-items: inherit;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
        margin: 0;
        /* padding: 0; */
        padding-left: 16px;
        min-height: inherit;
        border: 0;
    }
    font-family: sans-serif;
	.classlist-content{

		background-color:#f4f4f4;
	}
    .item-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        background: transparent;
        cursor: pointer;
    }
	.no_connection{

    	background-color: #f4f4f4;
	    text-align:center;
	    
	}
	.error-item{

		background-color:#f4f4f4;
	}

	.sort-div{

		padding-bottom: 16px;
	}
	.row1{
		
		padding-bottom: 16px;
		ion-col {
		    display: block;
		    -webkit-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		    padding: 0;
		    width: 100%;
		}
		ion-select {
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    overflow: hidden;
		    max-width: 100%;
		    background-color: #f4f4f4;
		    padding-left: 16px;
		    text-align: right;
		    border-bottom: 2px solid #8bc34a;
		}

	}
	
	.list-frame{

		background-color: #fff;
	    padding-top: 16px;
	    margin-bottom: 8px;
	    padding-bottom: 10px;
	    padding-left: 16px;
	    padding-right: 10px;
        border-left: 5px solid color($colors, primary);
	   
	}
	.list-frame:active{

		background-color: #e0e0e0;
	}
	.list-frame h4{

		text-overflow: ellipsis;
	}
    .header-div{
        
        
        background-color: transparent;
        border-bottom: 1px solid #919191;
        margin-bottom: 10px;
    }
	.footer-div{
		background-color:#ffffff;
		text-align:center;
	}

}
